<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/image/45212.png}" width="30" height="30" class="d-inline-block align-top" alt="">
              掲示板
            </a>
            <div class="">
                <a th:href="@{/logout}" class="btn btn-outline-success">ログアウト</a>
            </div>
          </nav>
      </header>
    <div class="container">
        <h1 class="">掲示板</h1>
        <table class=" table table-hover">
            <thead>
                <th>作成日</th>
                <th>タイトル</th>
                <th>作成者</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="bbs : ${postlist}" th:object="${bbs}">
                    <td th:text="${#dates.format (bbs.createDate, 'yyy/MM/dd')}"></td>
                    <td>
                        <a th:href="@{/{id}/show(id=*{id})}" th:text="${bbs.title}"></a>
                    </td>
                    <td th:text="${bbs.createUser}"></td>
                    <td><a th:href="@{/{id}/edit(id=*{id})}" class="btn btn-outline-warning"><i class="fas fa-edit">変更</i></a></td>
                    <td>
                        <form th:method="delete" th:action="@{/{id}(id=*{id})}">
                            <button type="submit" onclick="return confirm('本当に削除しますか?')" class="btn btn-outline-danger"><i class="fas fa-trash-alt">削除</i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/new}" class="btn btn-primary">新規追加</a>
    </div>
</body>

</html>