<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h1 class="">掲示板</h1>
        <!-- <ul th:if="${bbs}">
            <li>作成日: [[${bbs.createDate}]]</li>
            <li>タイトル: [[${bbs.title}]]</li>
            <li>内容: [[${bbs.content}]]</li>
            <li>投稿者:[[${bbs.createUser}]]</li>
        </ul> -->
        <!-- <form th:method="patch" th:action="@{/{id}/edit(id=${bbs.id})}" th:object="${bbs}" novalidate>
            <div class="form-group row">
                <label for="createDate" class="col2">作成日:[[${bbs.createDate}]]</label>
                <input type="text" th:text="*{createDate}" class="form-control col-10">
                <span th:errors="*{createUser}"></span>
            </div>
            <div class="form-group row">
                <label for="title" class="col-2">タイトル:[[${bbs.title}]]</label>
                <input type="text" th:text="*{title}" class="form-control col-10">
                <span th:errors="*{title}"></span>
            </div>
            <div class="form-group row">
                <label for="content" class="col2">内容:[[${bbs.content}]]</label>
                <textarea th:text="*{content}" name="content" id="" cols="70" rows="20"></textarea>
                <span th:errors="*{content}"></span>
            </div>
            <div class="form-group row">
                <label for="createUser" class="col2">投稿者:[[${bbs.createUser}]]</label>
                <input type="text" th:text="*{createUser}" class="form-control col-10">
                <span th:errors="*{createUser}"></span>
            </div>
        </form> -->
        <table class="table" th:if="${bbs}">
            <tr>
                <th>作成日</th>
                <th>[[${bbs.createDate}]]</th>
            </tr>
            <tr>
                <th>タイトル</th>
                <th>[[${bbs.title}]]</th>
            </tr>
            <tr>
                <th>内容</th>
                <th><p th:utext="${bbs.content}"></p></th>
            </tr>
            <tr>
                <th>投稿者</th>
                <th>[[${bbs.createUser}]]</th>
            </tr>
        </table>
        <h1 th:unless="${bbs}" th:text="データがありません"></h1>
        <a th:href="@{/}">戻る</a> 
    </div>
</body>
</body>

</html>