<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    <div class="container">
        <h1 class="">掲示板</h1>
        <table class="table" th:if="${bbs}">
            <tr>
                <th>作成日</th>
                <th>[[${bbs.createDate}]]</th>
            </tr>
            <tr>
                <th>タイトル</th>
                <th>[[${bbs.title}]]</th>
            </tr>
            <tr>
                <th>内容</th>
                <th><p th:utext="${bbs.content}"></p></th>
            </tr>
            <tr>
                <th>投稿者</th>
                <th>[[${bbs.createUser}]]</th>
            </tr>
        </table>
        <h1 th:unless="${bbs}" th:text="データがありません"></h1>
        <a th:href="@{/bbs}">戻る</a> 
    </div>
</body>
</body>

</html>